.image-container {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  padding: 5px;
  margin-bottom: 25px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.08);
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
