<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>[MW] Motivacioni vikend</h1>
    <p>
      Velika EESTEC LC Novi Sad konferencija, preko 100 članova i tri dana!

Na kraju ispitnog roka i pred početak narednog semestra, stariji i noviji članovi se okupe na tri dana i dva noćenja. Na konferenciji kolege srodnih smerova imaju priliku da se upoznaju i zbliže, i da zajedno predahnu od dugog prvog semestra. Nakon prvog dana upoznavanja i druženja, naredni dan je posvećen Soft Skill treninzima i sesijama na različite teme koje EESTEC može da ponudi. Tim za organizaciju konferencije, pažljivo bira mesto na kome studenti imaju priliku za rekreaciju, te su nakon predaha i od užurbanog grada, šetnje ili planinarenje omiljeni deo drugog dana. Naredni dan kreće pakovanje za polazak, a oni najbrži sa velikim strpljenjem čekaju kolege uz partije šaha, igru basketa, odbojke, fudbala…

Za efektivnu studentsku godinu, svima je jednostavno rečeno potreban ,,izduvni ventil”, a mi smo ga našli u mirnom ritmu prirode, okruženi prijateljima i iz Beograda i Niša, dragim kolegama po kojima pamtimo naše studiranje.

    </p>
  </div>
</div>
