@import "./../../../app/custom-theme.scss";

.align-center {
  text-align: center;
}

.mat-icon {
  color: $text-color;
}

.social-icons {
  margin-bottom: 30px;
  margin-top: 20px;
}

.social-button {
  width: 50px;
  height: 50px;
}

.social-icon {
  width: 25px;
}
