<div
  class="footer-container is-flex is-flex-direction-column is-align-items-center p-5"
>
  <div
    class="social-icons is-flex is-flex-direction-row is-justify-content-space-between is-centered"
  >
    <a href="https://www.facebook.com/eestecNS" target="_blank">
      <button mat-icon-button class="social-button">
        <img
          class="social-icon clickable"
          src="../../../assets/facebook.png"
          [class.invert]="theme != 'dark'"
        />
      </button>
    </a>

    <a href="https://www.instagram.com/eestec_lcnovisad/?hl=en" target="_blank">
      <button mat-icon-button class="social-button ml-5">
        <img
          class="social-icon clickable"
          src="../../../assets/instagram.png"
          [class.invert]="theme != 'dark'"
        />
      </button>
    </a>

    <a
      href="https://www.linkedin.com/company/eestec---lc-novi-sad/"
      target="_blank"
    >
      <button mat-icon-button class="social-button ml-5">
        <img
          class="social-icon clickable"
          src="../../../assets/linkedin.png"
          [class.invert]="theme != 'dark'"
        />
      </button>
    </a>

    <a href="https://www.youtube.com/@eeStecNoviSad" target="_blank">
      <button mat-icon-button class="social-button ml-5">
        <img
          class="social-icon clickable"
          src="../../../assets/youtube.png"
          [class.invert]="theme != 'dark'"
        />
      </button>
    </a>
  </div>

  <div class="align-center stretch-width">
    <h2 class="align-center">©EESTEC LC Novi Sad</h2>
  </div>
</div>
