<div class="basic-page">
  <div class="">
    <h1>O nama</h1>

    <div class="columns mt-5 is-vcentered max-width-1200 auto-margin">
      <div class="column">
        <img src="assets/eestec3.jpg" />
      </div>
      <div class="column stretch-height">
        <h2>Udruženje studenata elektrotehnike Evrope</h2>
        <h3>Electrical Engineering STudents’ European assoCiation</h3>
        <hr />
        <p>
          <b>EESTEC</b> je neprofitno, nepolitičko udruženje studenata koje ima
          za cilj da poveže studente elektrotehnike i računarstva širom Evrope
          kroz organizovanje međunarodnih seminara, razmena i stručnih praksi.
          Cilj udruženja je i povezivanje i upoznavanje studenata sa razvojem
          industrije i modernim trendovima u struci. Udruženje je osnovano 1986.
          godine u Holandiji i trenutno se sastoji od 54 lokalna komiteta (Local
          Committee – LC) u 28 država širom Evrope.
        </p>
      </div>
    </div>

    <div class="row-2 lc-wide">
      <div class="gradient"></div>
      <div class="row-bg"></div>
      <div class="auto-margin max-width-1200 columns is-vcentered row-content">
        <div class="column stretch-height">
          <h2>Lokalni komitet Novi Sad</h2>
          <hr />
          <p>
            EESTEC LC Novi Sad je lokalni komitet osnovan 2001. godine na
            kongresu u Londonu. Naše udruženje okuplja studente Fakulteta
            tehničkih nauka u Novom Sadu sa odseka za elektrotehniku i
            računarstvo, elektroniku, energetiku i telekomunikacije,
            mehatroniku, biomedicinski inžinjering, softversko inžinjerstvo i
            grafički dizajn. Budući da članstvo u EESTEC-u nosi odgovornost i
            obaveze, a ne samo članstvo „na papiru“, EESTEC LC Novi Sad, sa
            preko 320 članova i preko 50 aktivnih, jedan je od najbrojnijih i
            najaktivnijih lokalnih komiteta. Na organizovanih 13 razmena i 8
            stručnih seminara i drugog po veličini od događaja u EESTEC-u,
            Konferencije predsednika EESTEC-a (ECM – EESTEC Chairpersons’
            Meeting), do sada je ugošćeno preko 260 kolega sa evropskih
            tehničkih univerziteta, dok je preko 300 naših studenata poslato put
            Evrope.
          </p>
        </div>
        <div class="column">
          <img src="assets/eestec4.jpg" />
        </div>
      </div>
    </div>

    <div class="lc-mobile">
      <div class="auto-margin max-width-1200 columns is-vcentered row-content">
        <div class="column stretch-height">
          <h2>Lokalni komitet Novi Sad</h2>
          <hr />
          <p>
            EESTEC LC Novi Sad je lokalni komitet osnovan 2001. godine na
            kongresu u Londonu. Naše udruženje okuplja studente Fakulteta
            tehničkih nauka u Novom Sadu sa odseka za elektrotehniku i
            računarstvo, elektroniku, energetiku i telekomunikacije,
            mehatroniku, biomedicinski inžinjering, softversko inžinjerstvo i
            grafički dizajn. Budući da članstvo u EESTEC-u nosi odgovornost i
            obaveze, a ne samo članstvo „na papiru“, EESTEC LC Novi Sad, sa
            preko 100 članova i preko 50 aktivnih, jedan je od najbrojnijih i
            najaktivnijih lokalnih komiteta. Na organizovanih 13 razmena i 8
            stručnih seminara i drugog po veličini od događaja u EESTEC-u,
            Konferencije predsednika EESTEC-a (ECM – EESTEC Chairpersons’
            Meeting), do sada je ugošćeno preko 300 kolega sa evropskih
            tehničkih univerziteta, dok je preko 350 naših studenata poslato put
            Evrope.
          </p>
        </div>
        <div class="column">
          <img src="assets/eestec4.jpg" />
        </div>
      </div>
    </div>

    <div class="row-3 auto-margin max-width-800 has-text-centered">
      <h2>Napredak i saradnje</h2>
      <hr />
      <p class="px-3">
        Šireći domen svojih delatnosti, EESTEC LC Novi Sad u poslednjh sedam
        godina postao je veoma aktivan na lokalnom nivou. Uz odličnu saradnju sa
        kompanijama i Fakultetom tehničkih nauka, organizovano je više velikih
        takmičenja u programiranju, prezentacije i seminari za lokalne studente
        i Sajam poslovnih mogućnosti i stručnih praksi KONTEH koji svoju
        tradiciju drži već više od 15 godina. EESTEC već godinama unazad ima
        punu podršku Univerziteta u Novom Sadu, Fakulteta tehničkih nauka,
        Pokrajinskog sekreterijata za sport i omladinu, Pokrajinskog
        sekreterijata za obrazovanje i kulturu, grada Novog Sada, Pokrajinskog
        sekreterijata za rad, zapošljavanje i ravopravnost polova, Ministarstva
        omladine i sporta Republike Srbije, a od nedavno i Pokrajinskog
        sekretarijata za nauku i tehnološki razvoj.
      </p>
      <div class="auto-marign mt-5">
        <a href="./assets/docs/statut.pdf" target="_blank"
          ><button mat-flat-button color="primary">Statut udruženja</button></a
        >
        <a href="./assets/docs/pravilnik.pdf" target="_blank"
          ><button mat-flat-button color="accent" class="pravilnik-button">
            Pravilnik o unutrašnjoj organizaciji
          </button></a
        >
      </div>
    </div>

    <div class="max-width-1200 auto-margin mt-5 pt-5">
      <lightgallery [settings]="settings">
        <a href="/assets/eestec6.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec6.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec7.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec7.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec5.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec5.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec8.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec8.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec9.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec9.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec10.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec10.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec11.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec11.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec12.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec12.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/eestec13.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/eestec13.jpg"> </square-image>
          </div>
        </a>
      </lightgallery>
    </div>
  </div>
</div>
