@import "./../../../../app/custom-theme.scss";

.boardie {
  display: inline-block;
  width: 280px;
  margin: 0px;
  vertical-align: top;
}

.boardies {
  text-align: center;
}

h2 {
  font-size: 30px;
}

.contact-box {
  border-radius: 10px;
  background: $gray-bg;
  padding: 30px;
  color: $text-color;
}

strong {
  color: $text-color;
}

.map-container {
  @media (max-width: 769px) {
    margin: 0px -10px
  }

  @media (min-width: 769px) {
    margin: -10px 0px;
  }
}
