<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Projekti</h1>
    <div class="project-cards">
      <a [routerLink]="['/konteh']" class="project-card">
        <project-card title="KONTEH" image="konteh.jpg"></project-card>
      </a>

      <a [routerLink]="['/motivacioni-vikend']" class="project-card">
        <project-card title="Motivacioni vikend" image="mw.jpg"></project-card>
      </a>

      <a [routerLink]="['/code9']" class="project-card">
        <project-card title="Code9" image="code9.jpg"></project-card>
      </a>

      <a [routerLink]="['/ve-conf']" class="project-card">
        <project-card title="Ve:Conf" image="veconf.jpg"></project-card>
      </a>

      <a [routerLink]="['/5-dana-u-oblacima']" class="project-card">
        <project-card
          title="5 dana u oblacima"
          image="5danauoblacima.jpg"
        ></project-card>
      </a>

      <a [routerLink]="['/eestech-challenge']" class="project-card">
        <project-card title="EESTech Challenge" image="ec.jpg"></project-card>
      </a>

      <a [routerLink]="['/ssa']" class="project-card">
        <project-card title="SSA" image="ssa.jpg"></project-card>
      </a>

      <a [routerLink]="['/congress-ns']" class="project-card">
        <project-card title="Congress NS" image="congressns.jpg"></project-card>
      </a>
    </div>
  </div>
</div>
