.project-card {
  width: 400px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 50px;
  height: 450px;

  @media (max-width: 400px) {
    width: 300px;
  }
}

.project-cards {
  text-align: center;
}
