@import "./../../../../app/custom-theme.scss";

.offer-description {
  text-align: start;
}

.card-dontainer {
  margin: auto 20px;
  padding: 30px 10px;
  background-color: $gray-bg;
  border-radius: 30px;
  transition: 0.2s all;
  text-align: start;
  border: $gray 1px solid;

  @media (min-width: 450px) {
    padding: 30px;
  }
}

.logo img {
  max-height: 130px;
  max-width: 350px;
  height: auto;
  width: auto;
  margin: auto;
}

.invert {
  filter: brightness(100);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
  font-weight: bold;

  &:hover {
    color: $red;
  }
}

.chips {
  text-align: start;
  margin-top: 5px;
}

mat-chip {
  transition: 0.2s all;
  margin-top: 5px;
  margin-left: 5px;
}

.departments mat-chip {
  background-color: $red !important;
}

.tags mat-chip {
  background-color: $red !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: white !important;
}

h5 {
  margin-bottom: 0px;
  margin-left: 10px;
}

.chips.tags {
  margin-bottom: 0px;
}

hr {
  border: 1px $red solid;
}

::ng-deep .picture {
  border-radius: 15px;
}

::ng-deep .mdc-evolution-chip__text-label {
  font-size: 12px !important;
  font-weight: bold;

  @media (min-width: 380px) {
    font-size: 14px !important;
  }
}

.tags-container {
  margin: auto -10px;

  @media (min-width: 380px) {
    margin: 0px;
  }
}

.call-to-action {
  margin-top: 30px;
  margin-left: 35px;
  transform: scale(1.5);
}

.square-image {
  width: 33% !important;
  display: inline-block;
}

.social-icons {
  margin-bottom: 5px;
  margin-top: 5px;
}

.social-button {
  width: 50px;
  height: 50px;
}

.social-icon {
  width: 25px;
}

.social-icons img {
  filter: invert(0.8);
  margin-bottom: 8px !important;
}
