<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>[SSA] Soft Skills Academy</h1>
    <p>
      ,,You can’t download everything”

Početak akademske godine je period Soft Skills Akademija, kada lokalni komiteti širom Evrope organizuju svoje seminare.

Seminar je besplatan i traje četiri dana, podeljen je u dva vikenda u decembru, s ciljem da podstakne studente da aktivno razmišljaju o ličnom usavršavanju i da podigne svest o značaju “mekih” veština. Tokom seminara, 40 odabranih studenata ima priliku da pohađa radionice i predavanja na različite teme, pri čemu stiče veštine potrebne za napredovanje u budućoj karijeri. Kroz interakciju trener – učesnici, kao i kroz simuliranje određenih realnih situacija, učesnici mogu uočiti mnogo više detalja, uspešnije zapamtiti i usvojiti pruženo znanje. Treninge i predavanja će voditi predstavnici kompanija, stručnjaci iz oblasti kao i međunarodni sertifikovani EESTEC treneri.

Generalna tema SSA je da ,,ne možemo sve preuzeti (sa interneta)”, te da neke od važnijih životnih veština su one koje razvijamo radeći na sebi - veštine koje popularno nazivamo ,,mekim veštinama” Dosadašnje teme naših Soft Skills Akademija su:

2015 - ,,Lično usavršvanje”
2016 - ,,Lični autoritet i uticaj na druge”, kasnije iste godine i ,,Komunikacione veštine i liderstvo”
2017 - ,,Produktivnost i motivacija ,,
2018 - ,,Profesionalne veštine i upravljanje stresom”
2019 - ,,Poslovna komunikacija i prioriteti”
2021 - ,,Liderstvo i produktivnost”, kasnije iste godine i ,,motivacija i samopouzdanje”
2023 - ,,Emocionalna inteligencija”
2024 - ,,Poslovna komunikacija”

Nakon dva produktivna vikenda, polaznici su nagrađeni sertifikatom kao dokazom da su uspešno savladali datu temu.

    </p>
  </div>
</div>
